__pycache__/
.venv/
.uv-cache/
.pytest_cache/
*.sqlite3
cached/
.env
db/
docker-compose*.yml
notes/
nginx/conf.d/*
!nginx/conf.d/main.conf.sample
graphs/
charts/
certbot/
nginx/logs/
Makefile
crontab
deploy.sh
db-pg15-backup
