{% load static %}
<form hx-trigger="load" hx-swap="outerHTML"
  hx-get={% url 'main:song_image_view' %}>
  <input type="hidden" name="artist_id" value="{{ artist_id }}">
  <img alt="Result Loading..." class="htmx-indicator mb-8" width="50" height="50"
    src="{% static 'images/spinner.gif' %}">
</form>
<form hx-trigger="load" hx-swap="outerHTML"
  hx-get={% url 'main:year_image_view' %}>
  <input type="hidden" name="artist_id" value="{{ artist_id }}">
  <img alt="Result Loading..." class="htmx-indicator" width="50" height="50"
    src="{% static 'images/spinner.gif' %}">
</form>
